<html>
    <table style="margin: auto;border: solid orange 1px;padding: 10px;" >
        <tr>
            <td> 
                <label>ID</label>
            </td>
            <td> 
                <label>Name</label>
            </td>
            <td> 
                <label>Description</label>
            </td>
            <td> 
                <label>Creation Date</label>
            </td>
            <td> 
                <label>Price</label>
            </td>
        </tr>
        <% productsList.forEach(function(product) { %>
            <tr>
                <td> 
                    <span><%= product._id %></span>
                </td>
                <td> 
                    <span><%= product.name %></span>
                </td>
                <td> 
                    <span><%= product.description %></span>
                </td>
                <td> 
                    <span><%= product.creation_date %></span>
                </td>
                <td> 
                    <span><%= product.price %></span>
                </td>
                <td> 
                    <a href="/product/<%= product._id %>/edit">Edit</span>
                </td>
                <td> 
                    <a href="/product/<%= product._id %>/delete">Delete</span>
                </td>
            </tr>
        <% }); %>
    </table>
</html>
